<main id="topo-register">
  <div class="register">
    <div class="imagem">
      <img src="../../../assets/logo.png" alt="">
    </div>

    <form [formGroup]="form" (submit)="register()">
      <div class="inputs">
        <label>Nome</label>
        <input formControlName="name" type="text" pInputText/>

        <label>Email</label>
        <input formControlName="email" type="text" pInputText/>

        <label>Senha</label>
        <input formControlName="password" type="password" pInputText/>

        <div class="botoes">
          <button class="confirm">Cadastrar</button>
          <button (click)="voltar()" class="cancel">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
</main>
