<main id="topo-register">
  <div class="register">
    <div class="imagem">
      <img src="../../../assets/logo.png" alt="">
    </div>

    <div class="inputs">
      <label>Nome</label>
      <input type="text" pInputText/>

      <label>Email</label>
      <input type="text" pInputText/>

      <label>Senha</label>
      <input type="text" pInputText/>

      <label>Confirmar senha</label>
      <input type="text" pInputText/>

      <div class="botoes">
        <button routerLink="" class="confirm">Entrar</button>
        <button (click)="voltar()" class="cancel">Cancelar</button>
      </div>
    </div>
  </div>
</main>
