<main>
  <section class="produtos">
    <div>
      <h2>PRODUTOS</h2>
    </div>

    <div class="pesquisa">
      <form [formGroup]="form" (submit)="sendForm()">
            <p-dropdown
              id="categorias"
              [options]="categorias"
              [placeholder]="placeholder"
              formControlName="categorias"
              panelStyleClass="fundo-p-dropdown">
            </p-dropdown>

            <div class="p-input-icon-right">
              <i class="pi pi-search"></i>
              <input type="text" placeholder="Pesquisar" pInputText />
            </div>
        </form>
    </div>
  </section>

  <section class="cards">
    <div class="produtos-listagem">
      <div>
        <img src="../../../assets/imagem1.png" alt="">
      </div>

      <div>
        <img src="../../../assets/imagem2.jpg" alt="">
      </div>

      <div>
        <img src="../../../assets/imagem1.png" alt="">
      </div>

      <div>
        <img src="../../../assets/imagem1.png" alt="">
      </div>

      <div>
        <img src="../../../assets/imagem2.jpg" alt="">
      </div>

      <div>
        <img src="../../../assets/imagem1.png" alt="">
      </div>
    </div>
  </section>

</main>
