<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>

<p-toast position="bottom-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
      <div class="p-flex p-flex-column" style="flex: 1">
          <div class="p-text-center">
              <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
              <h4>{{message.summary}}</h4>
              <p>{{message.detail}}</p>
          </div>
      </div>
  </ng-template>
</p-toast>

<main class="container">
  <div class="input-button">
    <h1>GERENCIAR CATEGORIAS</h1>

    <button type="button" (click)="addCategoria()" pButton label="Adicionar categoria"></button>
  </div>

    <mat-form-field>
      <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef>Categoria</th>
      <td mat-cell *matCellDef="let element"> {{element.category}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef="let element">
        <div class="acoes">
          <button (click)="editCategoria(element)">
            <i class="pi pi-pencil"></i>
          </button>
          <button (click)="delCategoria(element)">
            <i class="pi pi-trash"></i>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>
</main>
