section.produtos-artesanais,
section.tudo-com-cuidado {
  display: flex;
  align-items: center;
  flex-direction: row;
}

h1 {
  padding-bottom: 1rem;
}

h2 {
  padding-bottom: 2rem;
  font-weight: 600;
  font-size: 3rem;

}

.linha {
  border-top: 3px solid var(--orange);

  width: 5%;
  padding-bottom: 20px;
}

p {
  line-height: 3rem;
  font-size: 1.5em;
}

/********************
    APRESENTACAO
*********************/

.apresentacao {
  height: 80vh;

  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.apresentacao .imagem {
  width: 100%;
  height: 100%;

  background-image: url(../../../assets/banner.png);
  background-size: cover;
}

.apresentacao .imagem img {
  width: 100%;
  max-height: 400px;
}

/**************************
    PRODUTOS ARTESANAIS
***************************/

.produtos-artesanais {
  display: flex;
  align-items: center;
  flex-direction: row;

  margin: 10rem 0;
}

.produtos-artesanais div:first-child {
  text-align: center;
  margin-right: 3rem;
}

/*********************
    TUDO COM CUIDADO
**********************/
.tudo-com-cuidado {
  margin: 10rem 0;
}

.tudo-com-cuidado .texto {
  text-align: right;
  margin-right: 3rem;
}

.tudo-com-cuidado div:last-child {
  text-align: center;
}

.tudo-com-cuidado .linha {
  margin-left: auto;
}

/*********************
    CONFERIR PRODUTOS
**********************/
.conteudo {
  display: flex;
  align-items: center;
  justify-content: space-around;

  background-color: var(--grey-dark);
  border-radius: 5px;
  padding: 3rem 5rem;
}

.conferir-produtos {
  margin: 10rem 0;

  display: flex;
  align-items: center;
}

.conferir-produtos .texto {
  width: 50%;
}

.conferir-produtos .div-botao {
  text-align: center;
}

.conferir-produtos button {
  background-color: var(--orange);
  padding: 2rem 3rem;

  font-size: 1.5rem;
  font-weight: 700;
}

.conferir-produtos button:hover {
  background-color: var(--orange-light);
}

.conferir-produtos a {
  padding-bottom: 1px;
  border-bottom: 3px solid var(--orange);
}

.conferir-produtos a:hover {
  color: var(--orange);
}
