<main class="container">
  <section class="apresentacao">
    <div>
      <h1>ARTSY SHINESTORE</h1>
      <div class="underline"></div>
    </div>

    <div class="imagem">
      <img src="../../../assets/banner.png" alt="">
    </div>
  </section>

  <section class="produtos-artesanais">
    <div class="imagem">
      <img src="../../../assets/produtos-artesanais.svg" alt="Produtos artesanais">
    </div>

    <div class="texto">
      <div class="linha"></div>

      <h2>PRODUTOS ARTESANAIS</h2>
      <p>Produtos feitos a mão com muito amor e carinho;</p>
      <p>Encomendas personalizadas do seu jeitinho.</p>
      <p>Lorem ipsum lorem ipsum lorem ipsum.</p>
    </div>
  </section>

  <section class="tudo-com-cuidado">
    <div class="texto">
      <div class="linha"></div>

      <h2>TUDO COM CUIDADO</h2>
      <p>
        Produtos e entregas feitos tomando cuidado com o corona vírus,
        mantendo você e sua familia protegidos.
      </p>
    </div>

    <div>
      <img src="../../../assets/coronavirus.svg" alt="Produtos artesanais">
    </div>
  </section>

  <section class="conferir-produtos">
    <div class="conteudo">
      <div class="texto">
        <p>
          Confira os <a routerLink="/produtos">produtos</a> e se cadastre no site para encomendar os que mais gostar!
        </p>
      </div>

      <div class="div-botao">
        <button (click)="telaRegistro()" fragment="topo-register" class="confirm">CADASTRAR NO SITE</button>
      </div>
    </div>
  </section>
</main>
