/* main{
  margin: auto 0;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: var(--grey-background);
  backdrop-filter: blur(4px);
  padding: 2rem;
  border-radius: 10px;

  max-width: 60%;
}

.login img {
  width: 500px;
  margin-bottom: 2rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
}

.cadastro {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

.cadastro a {
  text-align: right;
  text-decoration: underline;
  color: var(--white);
  margin-top: 2rem;
  margin-left: 5px;

  cursor: pointer;
}

.cadastro a:hover {
  color: var(--salmon);
}



.inputs input:last-of-type {
  margin-bottom: 1rem;
}

.inputs label {
  margin-bottom: 0.5rem;
}

.inputs label:last-of-type {
  margin-top: 2rem;
}

.inputs button {
  margin-top: 2rem;
}

.botoes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.botoes button {
  padding: 1rem 1.5rem;
  width: 100%;
} */

  .user_card {
    height: 400px;
    width: 400px;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border: 2px solid rgba(255, 255, 255);
    border-top: 0;
    border-radius: 5px;

  }
  .brand_logo_container {
    position: absolute;
    height: 170px;
    width: 530px;
    top: -75px;
    background: rgb(48, 47, 47);
    border: 2px solid rgba(255, 255, 255);
    border-radius: 50%;
    padding: 10px;
    text-align: center;
  }
  .brand_logo {
    height: 150px;
    width: 500px;
  }
  .form_container {
    margin-top: 100px;
  }
  