<main>
  <div class="login">
    <div class="imagem">
      <img src="../../../assets/logo.png" alt="">
    </div>

    <form [formGroup]="form" (submit)="login()">
      <div class="inputs">
        <label>Email</label>
        <input formControlName="email" type="text" pInputText/>

        <label>Senha</label>
        <input formControlName="password" type="password" pInputText/>

        <div class="botoes">
          <button class="confirm">Entrar</button>
          <button (click)="voltar()" class="cancel">Cancelar</button>
        </div>

        <div class="cadastro">
          <p>Não tem uma conta?<a routerLink="/register">Cadastre-se aqui</a></p>
        </div>
      </div>
    </form>
  </div>
</main>
