<main>
  <div class="titulo">
    <div>
      <h2>CONTATO</h2>
      <div class="underline"></div>
    </div>
    <p>
      Caso tenha alguma dúvida ou sugestão, ficaremos
      felizes em atendê-lo da melhor forma possível.
    </p>
  </div>

  <div class="conteudo">
    <div class="imagem">
      <img src="../../../assets/contato.svg" alt="">
    </div>

    <div class="inputs">
      <label>Nome</label>
      <input type="text" pInputText />

      <label>Email</label>
      <input type="text" pInputText />

      <label>Dúvida</label>
      <textarea type="text" pInputTextarea></textarea>

      <div class="botoes">
        <button class="confirm enviar">Enviar</button>
        ————
        <button class="whatsapp" type="button">
          <img src="../../../assets/whatsapp.svg" alt="Whatsapp">
        </button>
      </div>

    </div>
  </div>
</main>
