<header id="topo">
  <nav>
    <div class="logo">
      <img src="../../../assets/logo.png" alt="Logo">
    </div>

    <div class="links-botao">
      <div class="links">
        <a routerLink="/">Início</a>
        <a routerLink="/produtos">Produtos</a>
        <a routerLink="/contato">Contato</a>
      </div>

      <div>
        <button routerLink="login" class="confirm">ENTRAR</button>

        <app-admin></app-admin>
      </div>

    </div>
  </nav>
</header>

<router-outlet></router-outlet>

<app-footer></app-footer>
