img {
  width: 300px;
}

header {
  display: flex;
}

nav {
  width: 100%;
  padding: 2rem 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

button, a {
  font-size: 1.2rem;
}

nav button {
  width: 8rem;
  border-radius: 5px;
  margin-left: 1rem;

  transition: hover 0.2s;
}

nav button:hover {
  background-color: var(--salmon);
}

.links-botao {
  display: flex;
  align-items: center;
}

.links a {
  margin: 0 1rem;
}


